@page "/Clientes/Nuevo"

<style>
    body {
        background-color: slategray;
    }
</style>

 <h3>Nuevo Usuario</h3>
 <br />
 
<EditForm Model="@client">
     <DataAnnotationsValidator />

  <div class="form-group row">  
        <label for="IdCliente" class="col-sm-2 col-form-label">
            IdCliente
        </label>
        <div class="col-sm-10">
            <InputText id="IdCliente" class="form-control" placeholder="IdCliente" @bind-Value="client.IdCliente" />
            <ValidationMessage For="@(() => client.IdCliente)" /> 
        </div>
    </div>

    <div class="form-group row">  
        <label for="Nombre" class="col-sm-2 col-form-label">
            Nombre
        </label>
        <div class="col-sm-10">
            <InputText id="Nombre" class="form-control" placeholder="Nombre" @bind-Value="client.Nombre" />
            <ValidationMessage For="@(() => client.Nombre)" /> 
        </div>
    </div>

    <div class="form-group row">  
        <label for="edad" class="col-sm-2 col-form-label">
            edad
        </label>
        <div class="col-sm-10">
            <InputNumber id="edad" class="form-control" placeholder="edad" @bind-Value="client.edad" />
            <ValidationMessage For="@(() => client.edad)" /> 
        </div>
    </div>


    <div class="form-group row">  
        <label for="Direccion" class="col-sm-2 col-form-label">
            Direccion
        </label>
        <div class="col-sm-10">
            <InputText id="Direccion" class="form-control" placeholder="Direccion" @bind-Value="client.Direccion" />
            <ValidationMessage For="@(() => client.Direccion)" /> 
        </div>
    </div>

     <div class="form-group row">  
        <label for="Telefono" class="col-sm-2 col-form-label">
            Telefono
        </label>
        <div class="col-sm-10">
            <InputText id="Telefono" class="form-control" placeholder="Telefono" @bind-Value="client.Telefono" />
            <ValidationMessage For="@(() => client.Telefono)" /> 
        </div>
    </div>


    <div class="form-group row"> 
        <p>
            <input type="submit" class="btn-toolbar btn-primary" value="Guardar" @onclick="Guardar" />
            <input type="submit" class="btn-toolbar btn-danger" value="Cancelar" @onclick="Cancelar" />

        </p>
    </div>

    </EditForm>